table.grid {
	
	padding:0;
	border-spacing:0;
	width:100%;	
}

table.grid tr{
	position:relative;
}

/* alternate row colors */
table.grid tbody tr:nth-child(2n + 1){
	background-color:#f8fafc;
}

table.grid td{
	position:relative;
	padding:14px;
}

/* THEAD */

table.grid thead td {
	font-weight: 500;
    border-bottom: 1px solid #e8e8e8;
    background-color: #f5f8fa;
    border-top: 1px solid #e8e8e8;
	color: #708492;
}

table.grid thead td:first-child {
	border-left: 1px solid #e8e8e8;
	border-top-left-radius:6px;
}

table.grid thead td:last-child {
	border-right: 1px solid #e8e8e8;
	border-top-right-radius:6px;
}

/* TBODY */
	
table.grid tbody td:first-child {
	border-left: 1px solid #e8e8e8;
}

table.grid tbody td:last-child {
	border-right: 1px solid #e8e8e8;
}

table.grid tbody td {
	border-bottom:1px solid #e8e8e8;
	color: #708492;
}

table.grid tr.selectable{
	cursor:pointer;
}

table.grid tr.selectable:hover{
	background-color:#f0f5fd;
}

table.grid tr.selected{
	background-color:#deeaf9 !important;
	
}

table.grid tr.selectable.selected:hover{
	background-color:#deeaf9;
}

table.grid.working{
	-webkit-filter: blur(2px);
	filter:blur(2px);
}


table.grid .column-delete{
	width:48px;
	text-align:center;
	
}
	
/* IMAGES */

table.grid .column-delete img{
	width:24px;
}

table.grid .name-edit {
	width:24px;
	vertical-align: middle;
    margin-left: 10px;
	opacity:.2
}

table.grid .name-edit:hover {
	opacity:1;
}

/* PRE GRID PANEL */
.pre-grid-panel .search-control,
.pre-grid-panel input[type='button']{
	display:inline-block;
	margin-right:16px;
}