.modal
{
	position:absolute;
	overflow: hidden;
	background-color: #FFFFFF;
	text-align: left;
	box-shadow: 0px 0px 14px 2px #334148;
	z-index: 9999 !important;
	border-radius:4px;
	
	animation-name:modal-appear;
	animation-duration:.25s;
}

@keyframes modal-appear {
    0%   {transform:scale(0.95); opacity:0}
    100% {transform:scale(1.0); opacity:100}
}

.modal-out{
	opacity:0;
	
	animation-name:modal-close;
	animation-duration:.25s;
}

@keyframes modal-close {
	0% {transform:scale(1.0); opacity:100}
	100%   {transform:scale(0.95); opacity:0}
}

.modal .title-container{
	min-height: 60px;
    line-height: 60px;
    background-color: #68b7c7;
    color: #fff;
    padding: 0px 28px;
    font-weight: bold;
	background: linear-gradient(-303deg,#00a4bd,#00afb2 56%,#00bda5);
	font-size:1.2em;
}

.modal .content-container{
	margin:40px;
}

.modal .title-container .title{
	display:inline-block;
}

.modal .title-container .close-x{
	display: inline-block;
    vertical-align: middle;
    width: 36px;
    right: 0px;
    opacity: .7;
    cursor: pointer;
    right: 15px;
    position: absolute;
    top: 12px;
}

.modal .title-container .close-x:hover{
    opacity: .8;
    background-color: rgba(255,255,255,.3);
    border-radius: 100px;
}
	

/*

Specific Modal Parameters (i.e. window size, titlebar color, etc)

*/

.modal-consumer-modify{
	width:650px;
	height:450px;
	left:calc(50% - 325px);
	top:calc(50% - 225px);
}

.modal-library-modify{
	width:650px;
	height:650px;
	left:calc(50% - 325px);
	top:calc(50% - 325px);
}

.modal-user-modify{
	width:650px;
	height:540px;
	left:calc(50% - 325px);
	top:calc(50% - 270px);
}

.modal-library-modify-courses{
	width:600px;
	height:600px;
	left:calc(50% - 300px);
	top:calc(50% - 300px);
}

.modal-library-modify-courses .title-container{
	#background: linear-gradient(90deg, #7392cc,#d27dbf);
}

