@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i'); /* MONTSERRAT */

body {
	font-family: 'Montserrat', sans-serif;
	color: #777777;
}

.page-inner {
	margin: 40px 50px;
}

.page-inner .title {
	font-size: 2.25em;    
    color: #ADADAD;    
    font-weight: 300;
    text-transform: uppercase;
	margin-bottom: 30px;	
}

.registrationinstructions {
	margin-bottom: 25px;
}

.content {
	margin-left: 3px;
}

input[type='button'] {
    border: 1px solid #517B9E;    
    color: #FFFFFF;
    background-color: #6593BA;
    height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 5px;
    padding: 4px 14px;
    width: initial;    
    transition: all .25s;
    cursor: pointer;
    width: auto;
	box-shadow: inset 0 -25px 24px -20px #517B9E;
    -moz-box-shadow: inset 0 -25px 24px -20px #517B9E;
	-webkit-box-shadow: inset 0 -25px 24px -20px #517B9E;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: .8em;
    font-weight: 400;
    text-transform: uppercase;
}

input[type='button'].default {
    background-color: #6593BA;
    color: #FFFFFF;
}

input[type='button']:hover,
input[type='button'].default:hover {
	background-color: #75A9D6;
	border: 1px solid #517B9E;
}

.InputNormal {
	width: 185px;
}

.InputLong {
	width: 410px;
}

.alert-modal .title-container .title {	
    font-weight: 300;
    text-transform: uppercase;	
}