input[type='button']{
	border: 0px;
    border:2px solid #326792;
	color:#326792;
	background-color:#fff;
    height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 5px;
    padding: 0 15px;
    width: initial;
    /* box-shadow: 0px 0px 8px -6px #000; */
    transition: all .25s;
	cursor:pointer;
	width:auto; /* required for IE */
}

input[type='button']:hover{
	background-color:#e9f9ff;
    box-shadow:0px 0px 10px -2px #228aaf;
}

input[type='button'].default{
	background-color: #326792;
	color: #fff;
}

input[type='button'].default:hover{
	background-color: #228aaf;
	border-color:#228aaf;
}