@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

html{
	height:100%;
}

body,p,textarea,input {
	
}

a {
	
}
a:hover{
	
}

.page-inner{
	margin:40px 60px;
}

.blur {
	filter: blur(5px);
}

.vanish{
	animation-name: vanish;
    animation-duration: .15s;
    animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.evolve{
	animation-name: evolve;
    animation-duration: .15s;
    animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes vanish{
	from{transform:scale(1);opacity:1;}
	to{transform:scale(.9);opacity:0;}
}

@keyframes evolve{
	from{transform:scale(.9);opacity:0;}
	to{transform:scale(1);opacity:1;}
}

