.CarouselContainer{
	width:100%;
	overflow-x:hidden;
	position:relative;
}

ul.Carousel{
	padding:0px;
	position:relative;
	list-style-type: none;
}

ul.Carousel li.Invisible{
	opacity:0;
}

li.CarouselItem{
	position:relative;
	float:left;
}

/* Dots */

.CarouselDot{
	width: 14px;
    height: 14px;
    background-color: #ccc;
    display: inline-block;
    border-radius: 20px;
    margin: 8px 4px 0px 4px;
	cursor:pointer;
}
.CarouselDot.On{
	background-color:#888888;
	/*background-color:#82cc83;*/
}

/* BUTTONS */
input.CarouselButton{
	 width:16px;
	 height: 16px;
	 background: transparent;
	 border:none;
	 margin:8px;
	 cursor:pointer;
	 position:relative;
}
input.CarouselButton.PreviousButton{
	border-left: 6px solid #848484;
    border-top: 6px solid #848484;
    transform: rotate(-45deg);
}
input.CarouselButton.NextButton{
	border-right: 6px solid #848484;
    border-top: 6px solid #848484;
    transform: rotate(45deg);
}

input.CarouselButton.NextButton:disabled{
	cursor:default;
	border-right-color: #d6d6d6;
    border-top-color: #d6d6d6;
}
input.CarouselButton.PreviousButton:disabled{
	cursor:default;
	border-left-color: #d6d6d6;
    border-top-color: #d6d6d6;
}
