#pageoverlay.on {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(5, 37, 51, 0.69); 
    z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
	animation-name:pageoverlay-appear;
	animation-duration:.15s;
}

@keyframes pageoverlay-appear {
    0%   {opacity:0}
    100% {opacity:100}
}