.tabs-control{
	list-style: none;
    padding-left: 0px;
    margin: 0px;
	margin-bottom:20px;
    font-size: .9em;
}

.tabs-control li{
	cursor: pointer;
    position: relative;
    display: inline-block;
    width: 110px;
    /* text-align: center; */
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 12px;
    padding-left: 8px;
    margin: 0px;
    font-weight: 400;
    white-space: nowrap;
    min-height: 20px;
    vertical-align: middle;
    border-bottom: 1px solid #c7ced4;
}

.tabs-control li.on{
	border-bottom: 6px solid #00a5bb;
    padding-bottom: 7px;
}