.alert-modal
{
	position:absolute;
	overflow: hidden;
	background-color: #FFFFFF;
	text-align: left;
	box-shadow: 0px 0px 14px 2px #334148;
	z-index: 9999 !important;
	border-radius:4px;
	
	width:600px;
	height:500px;
	left:calc(50% - 300px);
	top:calc(50% - 250px);
}

	animation-name:alert-appear;
	animation-duration:.25s;
}

@keyframes alert-appear {
    0%   {transform:scale(0.95); opacity:0}
    100% {transform:scale(1.0); opacity:100}
}

.alert-out{
	opacity:0;
	
	animation-name:alert-close;
	animation-duration:.25s;
}

@keyframes alert-close {
	0% {transform:scale(1.0); opacity:100}
	100%   {transform:scale(0.95); opacity:0}
}

.alert-modal .title-container{
	min-height: 60px;
    line-height: 60px;
    background-color: #68b7c7;
    color: #fff;
    padding: 0px 28px;
    font-weight: bold;
	background: linear-gradient(-303deg,#bd0000,#c76332 56%,#d46868);
	font-size:1.2em;
}

.alert-modal .title-container .title{
	display:inline-block;
}

.alert-modal .title-container .close-x{
	display: inline-block;
    vertical-align: middle;
    width: 36px;
    right: 0px;
    opacity: .7;
    cursor: pointer;
    right: 15px;
    position: absolute;
    top: 12px;
}

.alert-modal .title-container .close-x:hover{
    opacity: .8;
    background-color: rgba(255,255,255,.3);
    border-radius: 100px;
}
	
.alert-modal .content-container{
	margin:40px;
}

.alert-modal .heading{
	margin-bottom: 10px;
    font-size: 1.2em;
}

.alert-modal .message{
	margin-bottom: 10px;
}

.alert-modal .details{
	font-weight: 400;
    font-size: 0.9em;
    color: #84909a;
    word-wrap: break-word;
}
.alert-modal .details ul{
	padding:0 20px;
}
